!.gitignore

packages/*

*.iml
.idea
*.class
*.classpath*
*.classpath
*.metadata*
*.settings*
.project
# Build results
[Tt]arget/
[Bb]in/
RemoteSystemsTempFiles/
javadoc/
*.checkstyle
registrationticket.json
deviceregistry.json
appiot-gateway.settings
logs/*

